.footesadasdr{
    background-color: #fff3ee;
    width: 100vw;
    /* margin-bottom: 41px; */
    text-align: left;
    min-height: 64vh;
    height: 100%;
  }
  
  .imgf1ooter{
    height: 189px;
    width: 196px;
    margin-left: -40px;
    margin-top: 4px;
  }
  .headofice1 {
    margin-top: 50px;
  }
  
  .img-foter{
    margin-top: 8px;  }
  
  .img-foter1{
    background-color: rgb(255 94 0);
  }
  .gfhf{
    width:33px;
    height: 40px;
    color: black;
    margin-right: 12px;
  }
  .footerimg{
  width: 10%;
  cursor: pointer;
  
  margin-bottom: 33px;
  font-weight: 900;
  margin : 12px
  }
  .paragraph1{
    color: rgb(0, 0, 0);
    /* line-height: 23px; */
    font-weight: 400;
    margin-top: -27px;
    font-size: 14px;
  }
  .headofice1{
  }
  .p1ofo{
    color: black;
  }
  .hhh12{
    color: black;
  }
  
  .h1gfooter{
    color: #005082;
    font-size: 18px;
    font-weight: 800;
  
  }
  
  .flagbox22{
    display: flex;
    margin-top: 10px;
  }
  .afooter{
    text-decoration: none;
    margin-top: 12px;
    font-size: 21px;
  }
  .afooter1{
    margin-top: 7px;
    font-size: 19px;
    font-weight: 600;
  }
  .flagbox221 {
    background-color: rgb(255 94 0);
    display: flex;
    margin-top: 7px;
    width: 147px;
    padding: 3px 11px;
    border-radius: 23px;
}
  .flagfooter{
    background-color: rgb(255 94 0);
    display: flex;
    margin-top: 10px;
    width: 145px;
    padding: 8px;
    border-radius: 23px;
  }
  .btn12button  {
    border: 2px solid rgb(255 94 0);
      border-radius: 37px;
      background-color: rgb(255 94 0);
      padding: 11px;
      width: 142px;
      color: white;
      font-size: 21px;
      font-weight: 700;
  }
  
  .H3FOOTER{
    font-size: 17px;
    color:blue
  }
  
  .h1foo{
    color: #005082;
    font-size: 18px;
    font-weight: 800;
    text-align: left;
  
  }
  
  .p1foo{
    margin-top: -3px; 
    font-weight: 400;
    color: black;
    text-align: left;
    padding: 9px;
    font-size: 20px;
    cursor: pointer;
  }
  .p1ffo2{
    color: #005082;
    font-size: 20px;
    font-weight: 800;
  }
  
  
  .headofice11{
    margin-top: 65px;
  }

  .list-inline{

    text-align: right;
    cursor: pointer;
  }
  .hfh{
    text-align: left;
  }

  @media (max-width:800px){
   .list-inline{
    text-align: left;
   }
  }